<%= form_with(model: @user) do |form| %>
    <div class="form-floating mb-3">
        <%= form.text_field :nome, placeholder: "Nome", class: "form-control" %>
        <label for="floatingInput">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <%= form.text_field :rua, placeholder: "Rua", class: "form-control" %>
        <label for="floatingInput">Rua</label>
    </div>
    <div class="form-floating mb-3">
        <%= form.text_field :bairro, placeholder: "Bairro", class: "form-control" %>
        <label for="floatingInput">Bairro</label>
    </div>
    <div class="form-floating mb-3">
        <%= form.number_field :numero, placeholder: "Número", class: "form-control" %>
        <label for="floatingInput">Número</label>
    </div>
    <div class="form-floating mb-3">
        <%= form.text_field :complemento, placeholder: "Complemento", class: "form-control" %>
        <label for="floatingInput">Complemento</label>
    </div>

    <div>
        <%= form.submit "Salvar", class: "btn btn-primary" %>
        <%= link_to "Voltar", users_path, class: "btn btn-secondary" %>
    </div>
<% end %>